<%- include("./partials/header") %>

    <header>
        <div class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
        </div>

        <nav class="menu">
            <div class="menu-branding">
                <div class="portrait"></div>
            </div>
            <ul class="menu-nav">
                <li class="nav-item">
                    <a href="/"
                    class="nav-link">
                Home
                </a>
                </li>
                <li class="nav-item current">
                    <a href="/about"
                    class="nav-link">
                About Me
                </a>
                </li>
                <li class="nav-item">
                    <a href="/projects"
                    class="nav-link">
                Projects
                </a>
                </li>
                <li class="nav-item">
                    <a href="/contact"
                    class="nav-link">
                How To Reach Me
                </a>
                </li>
            </ul>
        </nav>
    </header>

    <main id="about">
        <h1 class="lg-heading">
            About <span class="text-secondary">Me</span>
        </h1>
        <hr>
        <div class="about-info">
            <img src="img/portrait.jpg" alt="Andrew Beban" class="bio-image">
            <div class="bio">
                <h3 class="text-secondary">BIO</h3>
                <p>Currently employed as a contact centre systems developer. I am also a web developer currently looking for experience projects.
                    <p>Check out some of my experience & skills below and take a look at some of my projects.</p></p>
            </div>
            <div class="job job-1">
                <h3>Developer</h3>
                <h6>Genesis Energy</h6>
                <h6>Mar 2019 - Present</h6>
                <p>Working as part of an Agile squad, responsible for design, development and deployment of new capability into the contact centre. 
                    Supporting the squad with testing, reporting, backlog refinement and analysis as well as configuration and management of Genesys PureCloud.</p>
            </div>
            <div class="job job-2">
                <h3>Contact Centre Optimisation Lead</h3>
                <h6>Genesis Energy</h6>
                <h6>May 2018 – Mar 2019</h6>
                <p>Working as part of an Agile squad, responsible for supporting the delivery of new capability into the contact centre, 
                    as well as ensuring that the technology utilised is being optimised to ensure maximum value.</p>
            </div>
            <div class="job job-3">
                <h3>Workforce Forecasting Analyst</h3>
                <h6>Genesis Energy</h6>
                <h6>Oct 2016 – Apr 2018</h6>
                <p>Forecasting & planning for the requirements of a 250 agent contact centre both front and back office across two brands. 
                    Managing routing of work via queues and skills as well as reporting on queue and agent performance.</p>
            </div>
        </div>
<section class="tech">
    <h2 class="text-dark">Technologies</h2>
    <hr>

      <div class="tech-icons">
        <div>
            <a href="https://developer.mozilla.org/en-US/docs/Learn/HTML" target="_blank"><img src="img/html5.png"></a>
        </div>
            <div>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><img src="img/javascript.png"></a>
            </div>
            <div>
                <a href="https://sass-lang.com/" target="_blank"><img src="img/sass.png"></a> 
            </div>
            <div>
                <a href="https://nodejs.org/en/" target="_blank"><img src="img/nodejs.png"></a>
            </div>
            <div>
                <a href="https://getbootstrap.com/" target="_blank"><img src="img/bootstrap.png"></a>
            </div>
            <div>
                <a href="https://en.wikipedia.org/wiki/SQL" target="_blank"><img src="img/sql.png"></a>
            </div>
            <div>
                <a href="https://www.genesys.com/" target="_blank"><img src="img/genesys.png"></a>
            </div>
        </div>
    </section>
       
      
    </main>

    <%- include("./partials/footer") %>